.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px; 
}

/* --ALING-SELF--> Alinhamento Vertical DO ITEM.*/
/* --JUSTIFY-SELF--> Alinhamento Horizontal DO ITEM.*/
/* --PLACE-SELF--> Utiliza os dois acima ao mesmo tempo*/

.box1{
    background-color: rgb(153, 181, 234);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2{
    background-color: rgb(237, 240, 134);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box3{
    background-color: rgb(241, 131, 230);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box4{
    background-color: rgb(237, 240, 134);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}


.box5{
    background-color: rgb(153, 194, 234);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.box6{
    background-color: rgb(153, 194, 234);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.box7{
    background-color: rgb(237, 240, 134);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

